{
  "entries": [
    {
      "date": "10-14-19",
      "concept": "building DOM Components",
      "entry": "Today we learned to manipulate the DOM using JAVASCRIPT. later in the day we went over JSON",
      "mood": "glad",
      "id": 1
    },
    {
      "date": "10-11-19",
      "concept": "objects as things",
      "entry": "today we went over how to manipulate objects in javascript",
      "mood": "confused",
      "id": 2
    },
    {
      "date": "10-10-19",
      "concept": "functions and logic",
      "entry": "today we went over using functions and methods in javascript",
      "mood": "glad",
      "id": 3
    },
    {
      "date": "10-31-19",
      "concept": "editing",
      "entry": "today we went over the steps we need to edit items in a json server",
      "mood": "sad",
      "id": 4
    },
    {
      "date": "10-29-19",
      "concept": "deleting",
      "entry": "today we went over how to delete things from json server",
      "mood": "mad",
      "id": 5
    },
    {
      "date": "2019-11-04",
      "concept": "lab work",
      "entry": "I was working on getting a delete functionality to the buttons but was having issues getting it to wait for the buttons to be formed",
      "mood": "glad",
      "id": 6
    }
  ]
}